*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    225deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.cal-grid {
  display: grid;
  justify-content: center;
  margin-top: 40px;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: minmax(120px, auto) repeat(5, 90px);
}

.cal-grid > button {
  cursor: pointer;
  font-size: 25px;
  border: solid 1px white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.cal-grid > button:hover,
.cal-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.span_two {
  grid-column: span 2;
}
.output {
  grid-column: span 4;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.uNumber {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
}

.bNumber {
  font-size: 2.5rem;
  color: white;
}
